$astronaut-blue: #214559;
$golden-fizz: #ebde31;
$cod-gray: #111111;
$silver-chalice: #B2B2B2;
$mercury: #E8E8E8;

$color-primary: $astronaut-blue;
$color-secondary: $golden-fizz;
$color-text: $cod-gray;
$color-background-main: $mercury;
$color-background-accent: $silver-chalice;
$color-border: $cod-gray;
$color-link: $astronaut-blue;
