$astronaut-blue: #214559;
$golden-fizz: #ebde31;
$cod-gray: #333333;
$gray: #8f8f8f;
$silver-chalice: #e6e6e6;
$mercury: #e8e8e8;
$white: #ffffff;

$color-primary: #5e2541;
$color-secondary: #207065;
$color-text: $cod-gray;
$color-text-faded: $gray;
$color-background-main: #f9f9fa;
$color-background-accent: $white;
$color-border: $silver-chalice;
$color-link: $astronaut-blue;
