$astronaut-blue: #214559;
$golden-fizz: #ebde31;
$cod-gray: #111111;
$silver-chalice: #b2b2b2;
$mercury: #e8e8e8;
$white: #ffffff;

$color-primary: $astronaut-blue;
$color-secondary: $golden-fizz;
$color-text: $cod-gray;
$color-background-main: $mercury;
$color-background-accent: $silver-chalice;
$color-border: $cod-gray;
$color-link: $astronaut-blue;
