// VARIABLES
@import '_colors.scss';
@import '_fonts.scss';
@import '_mixins.scss';

$border-default: 1px solid $color-border;

* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: $color-background-main;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-serif;
  color: $color-primary;
}

p, ul, ol, li, table, tr, th, td, span, label, input {
  font-family: $font-sans;
  color: $color-text;
}

a {
  text-decoration: none;
  color: $color-primary;
}

.header {
  padding: 12px;
  justify-items: center;
  background-color: $color-background-accent;
  padding-top: 12px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 1fr;
}

.menu {
  background-color: $color-background-main;
  border: $border-default;
  width: 1fr;
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    padding: 12px;
  }
  
  hr {
    margin-left: 12px;
    width: 90%;
    // margin: 0.5em 0;
  }

  svg {
    padding-right: 0.75em;
  }
}

.search {
  background-color: $color-background-main;
  padding: 12px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;

  input {
    grid-column: 1 / span 2;
    padding: 12px;
    margin: 12px 0;
    grid-column: 1 / span 2;
    font-size: 1em;
    border-radius: 3px;
    border: $border-default;
  }

  button {
    align-self: end;
    justify-self: end;
    font-size: 0.8em;
    color: $color-link;
  }
}

.card_holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 6px;
}

.card {
  @include box_shadow(1);
  background-color: $white;
  height: 200px;
  width: 168px;
  border-radius: 5px;
  margin: 6px;
}

.bookCard {
  width: 12rem;
  height: 24rem;
  border: 1px gray;
}

@media (min-width: 600px) {
  .bookCard {
    width: 24rem;
    height: 48rem;
    border: 1px gray;
  }
}
