// VARIABLES
@import '_colors.scss';
@import '_fonts.scss';
@import '_mixins.scss';

$border-default: 1px solid $color-border;

* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: $color-background-main;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-serif;
  color: $color-primary;
}

p, ul, ol, li, table, tr, th, td, span, label, input {
  font-family: $font-sans;
  color: $color-text;
}

a {
  text-decoration: none;
  color: $color-primary;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 1em;
}

.header {
  display: grid;
  justify-items: center;
  background-color: $color-background-accent;
  padding-top: 1em;
}

.menu {
  background-color: $color-background-main;
  border: $border-default;
  width: 80vw;
  margin: 1em;
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;

  hr {
    width: 90%;
    margin: 0.5em 0;
  }

  svg {
    padding-right: 0.75em;
  }
}

.search {
  background-color: $color-background-main;
  padding: 1em;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;

  input {
    grid-column: 1 / span 2;
    padding: 1.25em;
    margin: 1em 0;
    grid-column: 1 / span 2;
    font-size: 1em;
    border-radius: 3px;
    border: $border-default;
  }

  button {
    align-self: end;
    justify-self: end;
    font-size: 0.8em;
    color: $color-link;
  }
}

.card_holder {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.card {
  @include box_shadow(1);
  background-color: $white;
  height: 175px;
  min-width: 160px;
  border-radius: 5px;
  margin: 0.25em;
}

.bookCard {
  width: 12rem;
  height: 24rem;
  border: 1px gray;
}

.book-detail-main-image{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.book-detail-page{
  padding: 8px;
  font-style: $font-sans;
}

.book-detail-library-image{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.library-address{
  font-size: 12px;
  float: right;
  padding-right: 40px;
  margin-top: 20px;
}

.address-border{
  border: 1px ridge $color-background-accent;
  padding: 8px;
  margin-bottom: 8px;
}

.get-directions{
  width: 100%;
  background-color: #ffffff;
  color: $color-primary;
  font-style: $font-sans;
  height: 40px;
}

.check-out{
  width: 100%;
  background-color: $color-primary;
  color: #ffffff;
  font-style: $font-sans;
  height: 40px;
}

.description{
  font-style: $font-sans;
}

.icon-map-marker{
  margin-left: -20px;
  transform: translateY(18px);
  display: inline-block;
}
@media (min-width: 600px) {
  .bookCard {
    width: 24rem;
    height: 48rem;
    border: 1px gray;
  }
}
