// VARIABLES
@import '_colors.scss';
@import '_fonts.scss';
@import '_mixins.scss';

$border-default: 1px solid $color-border;

* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: $color-background-main;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-serif;
  color: $color-primary;
}

p, ul, ol, li, table, tr, th, td, span, label, input {
  font-family: $font-sans;
  color: $color-text;
}

a {
  text-decoration: none;
  color: $color-primary;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 1em;
}

.header {
  display: grid;
  justify-items: center;
  background-color: $color-background-accent;
  padding-top: 1em;
}

.menu {
  background-color: $color-background-main;
  border: $border-default;
  width: 80vw;
  margin: 1em;
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;

  hr {
    width: 90%;
    margin: 0.5em 0;
  }
}

.search {
  background-color: $color-background-main;
  padding: 1em;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;

  input {
    grid-column: 1 / span 2;
    padding: 1.25em;
    margin: 1em 0;
    grid-column: 1 / span 2;
    font-size: 1em;
    border-radius: 3px;
    border: $border-default;
  }

  button {
    align-self: end;
    justify-self: end;
    font-size: 0.8em;
    color: $color-link;
  }
}

.card {
  @include box_shadow(1);
}

.bookCard {
  width: 12rem;
  height: 24rem;
  border: 1px gray;
}

@media (min-width: 600px) {
  .bookCard {
    width: 24rem;
    height: 48rem;
    border: 1px gray;
  }
}
